[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
pypandoc = "*"
bleach = "*"
bs4 = "*"
natsort = "*"

[requires]
python_version = "3.7"
